.MainComponent {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.Login-form {
  max-width: 500px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.login-btn {
  width: 100%;
}

.detail {
  height: 100vh;
}
.list {
  width: auto;
  padding: 20px;
  height: auto;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
